#request-now-btn{
    background-color: black;
    color: white;
    border: none;
    height: 35px;
    width: 110px;
    cursor: pointer;

    /* for space between buttons */
    margin-right: 8px;
}

#add-to-cart-btn{
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 28px;
    width: 135px;
    border-radius: 50px;
    cursor: pointer;

    /* for space between buttons */
    margin-right: 8px;
}

#sign-up-btn{
    background-color: rgb(46, 164, 79);
    color: white;
    font-weight: bold;
    border: none;
    height: 32px;
    width: 80px;
    border-radius: 6px;
    cursor: pointer;

    /* for space between buttons */
    margin-right: 8px;

}

.bootstrap-btn{
    font-weight: bold;
    height: 36px;
    width: 112px;

    /* for space between buttons */
    margin-right: 8px;
}

#get-started-btn{
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#download-btn{
    background-color: white;
    color: rgb(108, 117, 125);
    border: solid 1px;
    border-radius: 4px;
    border-color: rgb(108, 117, 125);
    cursor: pointer;

}

.linkedin-btn{
    font-weight: bold;
    height: 30px;

    /* for space between buttons */
    margin-right: 8px;
}

#apply-btn{
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    width: 210px;
    border-radius: 50px;
    cursor: pointer;
}

#save-btn{
    background-color: white;
    color: rgb(10, 102, 194);
    border: solid 1px rgb(10, 102, 194);
    width: 75px;
    border-radius: 50px;
    cursor:pointer;
}