*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 9a */
.red-square{
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 10px;
}

/* 9b */
.green-circle{
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}

/* 9c */
.survey-form{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    padding: 16px;
    width: 300px;
}

.survey-form p{
    margin-bottom: 16px;
}

.survey-form-btn{
    padding: 2px 4px;
}

/* 9d */
.yt-prompt{
    margin: 10px;
    background-color: rgb(49, 48, 48);
    color: white;
    width: 360px;
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 14px;
}

#yt-prompt-header{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 12px;
}

#yt-prompt-desc{
    font-size: 0.9rem;
    color: rgb(168, 165, 165);
}

/* 9e */
.tweet{
    margin: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    width: 450px;
}

#tweet-dp{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
}

#write-tweet{
    font-size: 15px;
    border: none;
    width: 280px;
    padding: 10px;
    vertical-align: middle;
}

#tweet-btn{
    background-color: #4c97e6;
    border: none;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}

/* 9f */
.cat-card{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 160px;

}

.cat-card img{
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.cat-card h2{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
}

.cat-card p{
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 8px;
    color: rgb(97, 97, 97);
}

.cat-card button{
    margin-left: 5px;
    margin-bottom: 8px;
    background-color: #3976e3;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
}

/* 9g */
.animal-cards{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 160px;
    display: inline-block;

}

.animal-cards img{
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.animal-cards h2{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
}

.animal-cards p{
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 8px;
    color: rgb(97, 97, 97);
}

.animal-cards button{
    margin-left: 5px;
    margin-bottom: 8px;
    background-color: #3976e3;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
}