/* Exericse 7a */
#t-1{
    width: 200px;
    border-radius: 10px;
}

/* Exericse 7b */
#t-2{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

/* Exericse 7c */
#t-3{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}

/* Exericse 7d */
#search-box{
    font-size: 16px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
}

/* Exericse 7e */
#google-search-box{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    width: 40%;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgb(95, 95, 95);
}


/* Exericse 7f */

.linkedin{
    font-family: Arial;
    width: 400px;


}

.linkedin p, button, input{
    box-sizing: border-box;
}

#linkedin-email-text{
    font-size: 16px;
    margin-bottom: 6px;
}

#linkedin-email-input{
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 350px;
}

#tnc{
    font-size: 14px;
}

#agree-btn{
    background-color: #2d63bc;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 120px;
    border-radius: 20px;
    cursor: pointer;
}

/* Exericse 7g */
#tweet-dp{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    vertical-align: middle;
}

#write-tweet{
    font-size: 20px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    vertical-align: middle;
    width: 330px;
}

#tweet-btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #4c98e7;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 30px;
    cursor: pointer;
    vertical-align: middle;
}