*{
    font-family: Arial;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blue{
    background-color: lightblue;
}

.pink{
    background-color: lightpink;
}

/* 12a */
.flexbox-1{
    margin: 20px;
    display: flex;
    /* flex-direction: row; (default)*/
}

#flexbox-1-item-1{
    width: 200px;
}

#flexbox-1-item-2{
    width: 75px;
}


/* 12b */
.flexbox-2{
    margin: 20px;
    display: flex;
}

#flexbox-2-item-1{
    width: 50px;
}

#flexbox-2-item-2{
    flex: 1;
}

#flexbox-2-item-3{
    width: 75px;
}

/* 12c */
.flexbox-3{
    margin: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

/* 12d */
.flexbox-4{
    margin: 20px;
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 12e */
.flexbox-5{
    margin: 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
    gap: 10px;
}

.home, .notifications, .messages{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.count{
    background-color: rgb(49, 109, 245);
    color: white;
    font-weight: bold;
    padding: 4px 13px;
    border-radius: 16px;
}

/* 12f */

.flexbox-6{
    background-color: #7254ac;
    padding: 10px 16px;
    color: white;
    font-weight: bold;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-6 button{
    background-color: #7254ac;
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
}

.flexbox-6 input{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    width: 50%;
    border: none;
    border-radius: 20px;
    font-size: 12px;
}

/* 12g */

.flexbox-7{
    margin: 20px;
    width: 400px;
    border: 1px solid black;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 10px;
}

.profile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info{
    width: 70%;
}

#name{
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

#name-desc, #popularity{
    color: rgb(142, 142, 142);
    padding-top: 2px;
    padding-bottom: 2px;
}

#name-desc{
    font-size: 16px;
}

#popularity{
    font-size: 14px;
}

#follow-btn{
    background-color: #3e94f1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
}